################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.opendb
*.ipch
*.sln
*.jpeg
*.vcxproj
*.user
*.filters
*.obj
*.tlog
*.pdb
*.idb
*.log
*.ilk
*.exe

**/Debug
