# Visual Studio

*.suo
*.db
*.opendb
*.ipch
*.sln
*.jpeg
*.vcxproj
*.user
*.filters
*.obj
*.tlog
*.pdb
*.idb
*.log
*.ilk
*.exe

**/Debug
**/Release

# Code Blocks

*.cbp
/sorting-algorithms.layout
/sorting-algorithms.depend

**/bin
**/obj
*.out
Makefile
*.json
